<div class="container-fluid paddingTP30" ng-init="userList()">
    <tab-menu tab-menu-list="subTabMenus"></tab-menu>
    <div class="paddingTB20 clearfix">
        <a ui-sref="base.user" class="btn btn-info pull-right" role="button">Add user</a>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <span class="label">Ordered By: {{orderByField}}, Reverse Sort: {{reverseSort}}</span><br><br>
            <table class="table table-striped">
                <thead>
                    <th><a href="#" ng-click="orderByField='name'; reverseSort = !reverseSort">Employee Name</a></th>
                    <th><a href="#" ng-click="orderByField='age'; reverseSort = !reverseSort">Age</a></th>
                    <th><a href="#" ng-click="orderByField='gender'; reverseSort = !reverseSort">Gender</a></th>
                    <th><a href="#" ng-click="orderByField='email'; reverseSort = !reverseSort">Email</a></th>
                    <th>Education</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr ng-class="{'rowGreen': $index == selected}" ng-click="toggleActive($index);" ng-dblclick="handleDblClick(singleUser.id)" ng-repeat="singleUser in getUsers | orderBy:orderByField:reverseSort">
                        <td>{{singleUser.name}}</td>
                        <td>{{singleUser.age}}</td>
                        <td>{{singleUser.gender}}</td>
                        <td>{{singleUser.email}}</td>
                        <td>{{singleUser.education}}</td>
                        <td><a ui-sref="base.userEdit({id:singleUser.id})">Edit</a> | <a confirmed-click="deleteEmployee(singleUser.id)" confirm-click="Delete this Employee?">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Tab panes -->
